<section class='playGrid'>
    <form>
        <label for='inviteCode'>Invite code: </label>   
        <input type='text' placeholder='invite code' value='X41TZ'/>
    </form>
    <ul>
        <li><a href='#'>o</a></li>
        <li><a href='#'>x</a></li>
        <li><a href='#'></a></li>
    </ul>
    <ul>
        <li><a href='#'>x</a></li>
        <li><a href='#'></a></li>
        <li><a href='#'></a></li>
    </ul>
    <ul>
        <li><a href='#'></a></li>
        <li><a href='#'></a></li>
        <li><a href='#'></a></li>
    </ul>
</section>