<nav>
    <ul>
        <li>
            <a href='/play'>
                New game
            </a>
        </li>
        <li>
            <form>
                <input type='text' placeholder='invite code'/>
                <button>
                    Join Game
                </button>
            </form>
        </li>
    </ul>
</nav>