<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Example App</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <link href="static/css/app.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>TIC-TAC-TOE</h1>
        <h4>Multiplayer edition</h4>
    </header>
    <main>
         {{{body}}}
    </main>

</body>
</html>